@import url(./_reset.css);
@import url(./_base.css);
@import url(./_typography.css);

/* write your CSS here */

:root {
  --center_card: 230px;
  /* --center_img: 70px; */
}

.body{
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
}

.nav{
  position: fixed;
  top: 0;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  padding: 30px;
  width: 100% ;
}

.wrapper {
  background-color: rgb(78, 121, 236);
  height: 300px;
  position: fixed;
  /* margin-top: 30px; */
  width: 100%;
}

.cards{
  display: flex;
  padding: 30px;
  gap: 20px;
  flex-wrap: wrap;
  min-height:1000px;
  margin-top: 100px;
}

.card {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(42, 40, 40);
  border-radius: 20px;
  width: var(--center_card);
  position:relative;
  /* top: 170px; */
  /* left: calc(50% - var(--center_card) / 2); */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.notification{
  padding: 4px;
  background-color: red;
  border-radius: 50%;
  size: 1px;
  position: absolute;
  left: 135px;
  top: 130px;
  border: solid 3px black;
  color: aliceblue;
  
} 

img {
  height: 110px;
  border-radius: 50%;
  border-color: solid white 20px;
  border: 3px solid white;
}

.profile_name {
  font-size: 20px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nickname_name {
  font-size: 13px;
  color: rgb(72, 184, 241);
  text-align: center;
}

.details {
  background-color: rgb(12, 98, 203);
  display: flex;
  flex-wrap: nowrap;
  height: 80px;
  justify-content: space-evenly;
  grid-template-rows: 10px;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: white;
}

.number {
  font-size: 20px;
  text-align: center;
}

.letter {
  font-size: 12px;
  font-weight: bolder;
  align-content: center;
  color: rgb(72, 184, 241);
}

div.following_details {
  background-color: rgb(33, 94, 155);
}

button {
  padding: 10px;
  color: white;
  font-size: 20px;
  border: 2px solid white;
}
